.menu{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: flex-end;
    
    list-style: none;
}

.menu a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.menu ul{  
    margin-right: 35px;
    display: flex;
    margin-top: 60px;
    
    
}
nav{
    margin-top: 87px;
    margin-right: 35px;
}

.separatore{
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Merriweather;
    font-size: 20px; 
    margin-left: 55px;
}